.explore-button {
  max-width: 102px;
  min-width: 102px;
  height: 40px;
  padding: 6px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  div {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // align-self: center;
  }
  // max-height: 40px;
}
