#call-to-action {
  background-color: var(--secondary-blue);
  padding: 24px;
  margin: 24px;
  margin-bottom: 48px;
  padding: 24px 12px;
  border-radius: 3px;
}

#call-to-action-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#call-to-action-content p {
  display: flex;
  flex: 0.6;
  margin-left: 24px;
  font-size: 17px;
  line-height: 24px;
}

#call-to-action-button-container {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex: 0.4;
  flex-wrap: wrap;
}

#call-to-action-button-container span {
  font-weight: 600;
  min-width: 150px;
  margin: 12px 0;
  text-align: center;
}

#statistics-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 24px;
}

#landing-page h1 {
  margin-left: 24px;
}

.statistic {
  display: flex;
}

.header-and-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-and-link a {
  margin-right: 24px;
}

.list-block-height-container {
  color: var(--green);
  display: flex;
  align-items: center;
}

#lading-page-block-list-container {
  padding: 12px 24px;
}

.list-block-height-container img {
  margin-right: 12px;
}

@media only screen and (max-width: 1275px) {
  #call-to-action-button-container {
    flex-direction: column;
  }
}
