.card {
  background-color: var(--secondary-blue);
  max-width: 276px;
  max-height: 103px;
  min-width: 200px;
  min-height: 100px;
  margin: 10px;
  border-bottom: 3px var(--green) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6px 48px;
  border-radius: 3px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  color: #f9fafa;
  text-align: center;
}

.card p {
  margin: 0;
  margin-top: 6px;
  font-size: 17px;
  color: #f9fafa;
  text-align: center;
  line-height: 24px;
}

@media only screen and (max-width: 810px) {
  .card {
    max-width: 167px;
    max-height: 92px;
    min-width: 100px;
    min-height: 50px;
    padding: 12px 22px;

    /* margin: 10px; */
  }

  .card h2 {
    font-size: 24px;
    color: #f9fafa;
    text-align: center;
  }

  .card p {
    font-size: 15px;
    color: #f9fafa;
    text-align: center;
    line-height: 24px;
  }
}
