.card {
  background-color: var(--secondary-blue);
  max-width: 276px;
  max-height: 95px !important;
  min-width: 150px;
  min-height: 95px;
  margin: 10px;
  border-bottom: 3px var(--green) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 48px;
  border-radius: 3px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  color: #f9fafa;
  text-align: center;
}

.card p {
  margin: 0;
  /* margin-top: 6px; */
  font-size: 17px;
  color: #f9fafa;
  text-align: center;
  line-height: 24px;
}

@media only screen and (max-width: 700px) {
  .card {
    /* max-width: 167px;
    min-width: 100px; */
    padding: 12px 22px;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .card {
    max-width: 167px;
    min-width: 100px;
    /* padding: 12px 22px;
    width: 100%; */
  }
  .card p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 475px) {
  .card {
    padding: 12px 15px;
    width: 110px;
  }
}
