#desktop_navigation {
  display: flex;
  height: 125px;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: thin white solid;
}

#desktop_navigation a {
  text-decoration: none;
  margin: 24px;
  font-size: 16px;
  font-weight: 300;
}

#desktop_logo {
  width: 120px;
}

#desktop_navigation_options {
  padding-bottom: 48px;
}
