.stats-as-columns {
  flex-direction: row;
  display: none !important;
  flex: 1;

  .column {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
  }
}

@media only screen and (max-width: 1375px) {
  .stats-as-columns {
    display: flex !important;
  }

  .stats-as-row {
    display: none !important;
  }
}
