.feature-detailed-description-container {
  max-height: 75vh;
  display: flex;

  flex-direction: column;
}

.feature-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-blue);
  margin: 10px;
  padding: 24px;
  border-radius: 3px;
  width: 100%;
  text-align: center;

  h1 {
    margin: 0 !important;
  }

  p {
    text-align: center;
    padding-bottom: 12px;
  }

  button {
    max-width: 129px;
    max-height: 44px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 75px;
    margin: auto;
  }
}

.feature-links-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 24px;
  margin: auto;

  a {
    padding: 12px;
  }
}

.feature-modal-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    font-size: 17px;
    color: #f9fafa;
    text-align: center;
    line-height: 24px;
  }

  .feature-modal-icon {
    max-width: 75px;
    margin: auto;
  }

  #close-modal-button {
    cursor: pointer;
    align-self: flex-end;
  }
}

.feature-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 24px;
}

.feature-card-title-container {
  display: flex;
  flex-direction: column;

  img {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 810px) {
  #feature-card-container {
    padding: 0;
  }
}
