.footer {
  flex-shrink: 0;
  border-top: thin #f9fafa solid;
  margin: 0 24px;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-flex-container {
  flex: 1;
  display: flex;
}

.footer span {
  justify-content: center;
}

#footer-social-icons {
  justify-content: flex-end;
}

#footer-social-icons img {
  opacity: 0.75;
  cursor: pointer;
  margin: 0 8px;
}

#footer-social-icons img:hover {
  opacity: 1;
}

@media only screen and (max-width: 810px) {
  .footer {
    flex-direction: column;
    padding: 12px;
  }

  #footer-social-icons img {
    margin-top: 6px;
    max-width: 25px;
  }

  .footer-flex-container {
    margin: 6px;
  }
}
