#search-input {
  background: #1a1a47;
  border-radius: 3px;
  border: none;
  width: 325px;
  height: 35px;
  font-family: Rajdhani;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  padding: 6px 12px;
  padding-right: 40px;
}

#search-input::placeholder {
  font-family: Rajdhani;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

#search-input-container {
  display: flex;
  align-items: center;

  #search-input-icon {
    cursor: pointer;
  }
}
