.content {
  flex: 1 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-content {
  padding: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
