.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: #f2f2f2;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-content {
  padding: 24px;
}
