html,
body {
  height: 100%;
  background-color: var(--primary-blue);
  color: #f9fafa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-blue: #000033;
  --secondary-blue: rgba(255, 255, 255, 0.1);
  --green: #02e49b;
  --secondary-green: #00e599;
  --grey: #bbbdc9;
}

a {
  color: var(--green);
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
}

a:focus,
button:focus,
nav:focus,
div:focus {
  outline: 0;
}
