html,
body {
  height: 100%;
  background-color: var(--primary-blue);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-blue: rgb(1, 0, 51);
  --secondary-blue: #1b1b47;
  --green: #03e59a;
  --grey: #bbbdc9;
}

a {
  color: var(--second-color);
}

h1 {
  margin: 0;
}
